<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" type="text/css" href="/static/assets/pure-min.css">
  <link rel="stylesheet" type="text/css" href="/static/assets/grids-responsive-min.css"/>

    {{/*  календарь*/}}
  <script src="/static/assets/js-year-calendar.min.js"></script>
  <script src="/static/assets/js-year-calendar.ru.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/assets/js-year-calendar.min.css"/>

  <style>
      main {
          padding: 1em 2em;
			}

			html {
				background: url("/static/assets/chicha.jpeg") no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;

				height: 100%;
				background-size : 100% auto;
				background-position: center;
				background-repeat: no-repeat;
				margin: 0;
			}

      .event-button-wrap {
          margin-bottom: 4px;
      }

      .button-success {
          background: rgb(28, 184, 65);
          /* this is a green */
      }

      .button-secondary {
          color: white;
          border-radius: 4px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }
  </style>

  <title>Календарь соревнований:</title>
</head>
<body>

<main class="pure-g bg">
  <section class="content pure-u-1">
    <div class="l-box events">
      <h1>Календарь соревнований:</h1>
      <div class="l-box calendar"></div>
      <h1>Текущее соревнование:</h1>
      <div><a href="/race/{{ .currentRace.RaceID }}" class="button-success pure-button button-secondary">Соревнование
          # {{ .currentRace.RaceID }}</a></div>
      <h1>Соревнования в этот день:</h1>
      <div class="events-wrap"></div>
    </div>
  </section>

<div class="pure-u-1"><br><br><br><a href="https://github.com/matveynator/chicha">Chicha: the competition timekeeper (chronograph).</a></div>
</main>

<template id="buttonrace">
  <div class="event-button-wrap">
    <a href="#" class="pure-button"></a>
  </div>
</template>

<script>
    function updateEventList(arr) {
        console.log(arr)

        const eventsparent = document.querySelector('.events-wrap')
        eventsparent.innerHTML = ""
        const template = document.querySelector('#buttonrace')

        arr.forEach((e) => {
            const clone = template.content.cloneNode(true)
            const a = clone.querySelector('a')
            a.href = `/race/${e.id}`
            a.textContent = `${e.id}: ${e.startDate.toTimeString()}`

            eventsparent.appendChild(clone)
        })
    }

    const events = [
        {{range .raceList}}
        {
            id: {{.RaceID}},
            name: 'Название',
            location: 'Локация',
            startDate: new Date({{.DiscoveryUnixTime}}),
            endDate: new Date({{.DiscoveryUnixTime}}),
        },
        {{end}}
    ]

    let curMonth = new Date()
    curMonth.setMonth(curMonth.getMonth())
    new Calendar(document.querySelector('.calendar'), {
        language: 'ru',
        dataSource: events,
        numberMonthsDisplayed: 1,
        startDate: curMonth,
        clickDay: (e) => updateEventList(e.events)
    })

</script>

</body>
</html>
