<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/static/assets/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/grids-responsive-min.css"/>

    {{/*     календарь*/}}
    <script src="/static/assets/js-year-calendar.min.js"></script>
    <script src="/static/assets/js-year-calendar.ru.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/js-year-calendar.min.css"/>

    <style>
        main {
            padding: 1em 2em;
        }

        .events {
        }
    </style>

    <title>chicha</title>
</head>
<body>

<main class="pure-g">
    <section class="content pure-u-1">
        <h1>Добро пожаловать на страницу chicha!</h1>

        <h3>Календарь гонок</h3>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-3-5 pure-u-lg-2-5">
                <div class="l-box events">
                    <h6>Номер гонки, Дата</h6>
                    <div class="events-wrap"></div>
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-2-5 pure-u-lg-3-5">
                <div class="l-box calendar"></div>
            </div>
        </div>
    </section>
</main>

<template id="buttonrace">
    <div>
        <a href="#" class="pure-button"></a>
    </div>
</template>

<script>
    function updateEventList(arr) {
        console.log(arr)

        const eventsparent = document.querySelector('.events-wrap')
        eventsparent.innerHTML = ""
        const template = document.querySelector('#buttonrace')

        arr.forEach((e) => {
            const clone = template.content.cloneNode(true)
            const a = clone.querySelector('a')
            a.href = `/race/${e.id}`
            a.textContent = `${e.id}: ${e.startDate.toTimeString()}`

            eventsparent.appendChild(clone)
        })
    }

    const events = [
        {{range .}}
        {
            id: {{.RaceID}},
            name: 'Название',
            location: 'Локация',
            startDate: new Date({{.DiscoveryUnixTime}}),
            endDate: new Date({{.DiscoveryUnixTime}}),
        },
        {{end}}
    ]

    let curMonth = new Date()
    curMonth.setMonth(curMonth.getMonth()-2)
    new Calendar(document.querySelector('.calendar'), {
        language: 'ru',
        dataSource: events,
        numberMonthsDisplayed: 6,
        startDate: curMonth,
        clickDay: (e) => updateEventList(e.events)
    })

</script>

</body>
</html>