{{define "race_table.tmpl"}}
<table class="pure-table pure-table-bordered">
<thead>
<tr class="table-header">
<th>Pos #</th>
<th>Competitor</th>
<th>Lap #</th>
<th>Total time</th>
<th>Last lap</th>
<th>Best lap</th>
<th>Next start position #</th>
<th>Alive?</th>
<th>Strange?</th>
</tr>
</thead>

<tbody>
{{range .Laps}}
<tr id="{{.Lap.TagID}}" class="{{.Style}}">
<td align="center">{{.Lap.CurrentRacePosition}}</td>
<td>{{.Lap.TagID}}</td>
<td align="center">{{.Lap.LapNumber}}</td>
<td>
	<div>{{timestampRender .Lap.RaceTotalTime}}</div>
	<div>( {{millisDurationRender .Lap.TimeBehindTheLeader}} )</div>
</td>
<td>
	<div>{{timestampRender .Lap.LapTime}}</div>
	<div>( {{millisDurationRender .Lap.BetterOrWorseLapTime}} )</div>
</td>
<td>{{timestampRender .Lap.BestLapTime}}</td>
<td align="center">{{.Lap.BestLapPosition}}</td>
<td align="center">{{.Lap.StageFinished}}</td>
<td align="center">{{.Lap.LapIsStrange}}</td>
</tr>
{{end}}
</tbody>
</table>
{{end}}
